<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->

    <!-- Section: Social media -->
  
    <!-- Section: Links  -->

    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      Closed Beta of ARify
      <!-- <a class="text-reset fw-bold" href="https://youreality.ir/">YouReality.ir</a> -->
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  